.ts{
  margin-top:90px;
  font-size: 30px;
}

.fh5co-testimonial {
    background: #efefef;
  }
  .fh5co-testimonial .testimony-slide {
    text-align: center;
  }
  .fh5co-testimonial .testimony-slide span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    display: block;
  }
  .fh5co-testimonial .testimony-slide .botol2 {
    margin-bottom: 10px;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    *display: inline;
  }
  .fh5co-testimonial .testimony-slide .botol2 {
    width: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
  }
  .fh5co-testimonial .testimony-slide blockquote {
    border: none;
    margin: 30px auto;
    width: 50%;
    position: relative;
    padding: 0;
  }
  @media screen and (max-width: 992px) {
    .fh5co-testimonial .testimony-slide blockquote {
      width: 100%;
    }
  }
  .fh5co-testimonial .arrow-thumb {
    position: absolute;
    top: 40%;
    display: block;
    width: 100%;
  }
  .fh5co-testimonial .arrow-thumb a {
    font-size: 32px;
    color: #dadada;
  }
  .fh5co-testimonial .arrow-thumb a:hover, .fh5co-testimonial .arrow-thumb a:focus, .fh5co-testimonial .arrow-thumb a:active {
    text-decoration: none;
  }

  .arah{
    width: 40px;
    height: 40px;
    float: right;
    margin: 20px;
  }